<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>

<body>
	<section class="layout-content" layout:fragment="mybody">

		<div class="page-header">
			<div class="d-flex justify-content-between align-items-center">
				<h1>Add Role</h1>
				<a class="btn btn-primary btn-md" th:href="@{/role/all}" role="button">
					<span class="oi oi-spreadsheet" title="Trainer Registration" aria-hidden="true"></span>
					<span>List Roles</span>
				</a>
			</div>
		</div>
	
	        <div class="container" id="registration">

	                                       
	        	        
	            <form th:action="@{/role/add}"
	                  th:object="${roleselect}" method="POST">

					<label for="roleId">Choose a Role:</label>
					<select id="roleId" th:field="${roleselect.id}">
						<option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.description}"></option>
					</select>

					<input type="hidden" id="id" th:field="${baseuser.id}"/>
	                
					<button type="submit" class="btn btn-primary btn-sm">Save</button>
	            </form>
	            <br><br>
	        </div>

		
	</section>		
</body>
</html>