<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head><meta charset="UTF-8" /></head>

<body>
    <section class="layout-content" layout:fragment="mybody">

        <h1>Courses</h1>

        <div th:unless="${courses.size() > 0}" style="width: 80%">
            <span>No courses found!</span>
        </div>

        <table sec:authorize="hasAuthority('TRAINER')" class = "table table-striped table-bordered" th:unless="${courses.size()<1}" style="width: 90%" margin="auto">
            <thead class = "table-dark">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="course: ${courses}">

                <td><span th:text="${course.name}"></span></td>
                <td><span th:text="${#temporals.format(course.date, 'dd.MM.YYYY')}"></span></td>

                <td>
                    <a th:href="@{/course/details/{id}(id = ${course.getId()})}" class = "btn btn-warning">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
                        </svg>
                    </a>

                    <a th:href="@{/course/update/{id}(id = ${course.getId()})}" class = "btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                        </svg>
                    </a>

                    <a th:href="@{/course/delete/{id}(id = ${course.getId()})}" class = "btn btn-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <table sec:authorize="hasAuthority('CUSTOMER')" class = "table table-striped table-bordered" th:unless="${courses.size()<1}" style="width: 90%" margin="auto">
            <thead class = "table-dark">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Trainer</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="course: ${courses}">

                <td><span th:text="${course.name}"></span></td>
                <td><span th:text="${#temporals.format(course.date, 'dd.MM.YYYY')}"></span></td>
                <td><span th:text="${course.trainer.getFirstName()}"></span> <span th:text="${course.trainer.getLastName()}"></span></td>

                <td>
                    <a th:href="@{/course/register/{courseId}(courseId = ${course.getId()})}" class = "btn btn-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                        </svg>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Pagination" th:if="${totalPages > 0}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">

                    <a th:replace="~{fragments/paging :: paging(1, '<<', 'First Page')}"></a>

                </li>
                <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a th:replace="~{fragments/paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')}"></a>
                </li>
                <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                    <a class="page-link" href="#">...</a>
                </li>
                <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                    th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                    <a th:replace="~{fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page})}"></a>
                </li>
                <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                    <a class="page-link" href="#">...</a>
                </li>
                <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a th:replace="~{fragments/paging :: paging(${currentPage + 1},'Next', 'Next Page')}"></a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a th:replace="~{fragments/paging :: paging(${totalPages}, '>>', 'Last Page')}"></a>
                </li>
            </ul>
        </nav>
    </section>
</body>
</html>