<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
</head>

<body>
    <section class="layout-content" layout:fragment="mybody">
        <h1>Registered Courses</h1>

        <div th:unless="${courses.size() > 0}" style="width: 80%">
            <span>No registered courses found!</span>
        </div>

        <table sec:authorize="hasAuthority('CUSTOMER')" class = "table table-striped table-bordered" th:unless="${courses.size()<1}" style="width: 90%" margin="auto">
            <thead class = "table-dark">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Trainer</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="course: ${courses}">

                <td><span th:text="${course.name}"></span></td>
                <td><span th:text="${#temporals.format(course.date, 'dd.MM.YYYY')}"></span></td>
                <td><span th:text="${course.trainer.getFirstName()}"></span> <span th:text="${course.trainer.getLastName()}"></span></td>

                <td>
                    <a th:href="@{/course/deregister/{courseId}(courseId = ${course.getId()})}" class = "btn btn-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
                            <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15zM11 2h.5a.5.5 0 0 1 .5.5V15h-1zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1"/>
                        </svg>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Pagination" th:if="${totalPages > 0}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a th:replace="~{fragments/paging :: paging(1, '<<', 'First Page')}"></a>
                </li>
                <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a th:replace="~{fragments/paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')}"></a>
                </li>
                <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                    <a class="page-link" href="#">...</a>
                </li>
                <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                    th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                    <a th:replace="~{fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page})}"></a>
                </li>
                <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                    <a class="page-link" href="#">...</a>
                </li>
                <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a th:replace="~{fragments/paging :: paging(${currentPage + 1},'Next', 'Next Page')}"></a>
                </li>
                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a th:replace="~{fragments/paging :: paging(${totalPages}, '>>', 'Last Page')}"></a>
                </li>
            </ul>
        </nav>
    </section>
</body>
</html>