<aside th:fragment="sidebar">
    <nav class="sidebar sidebar-open">

            <span class="on"><a th:href="${EN}">EN</a></span>
            <span class="off"><a th:href="${DE}">DE</a></span>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home}">
                    <i class="oi oi-home"></i>
                    <span th:text="${de} ? 'Startseite' : 'Home'"></span>
                </a>
            </li>
        </ul>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <span th:text="${de} ? 'Profil' : 'Profile'" class="nav-link active">></span>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home}">
                    <i class="oi oi-wrench"></i>
                    <span th:text="${de} ? 'Aktualisierung' : 'Update'"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home}">
                    <i class="oi oi-spreadsheet"></i>
                    <span th:text="${de} ? 'Notizen' : 'Notes'"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home}">
                    <i class="oi oi-bar-chart"></i>
                    <span th:text="${de} ? 'Statistik' : 'Statistics'"></span>
                </a>
            </li>
        </ul>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <span class="nav-link active">Trainer</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home}">
                    <i class="oi oi-spreadsheet"></i>
                    <span th:text="${de} ? 'Liste' : 'List'"></span>
                </a>
            </li>
        </ul>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <span th:text="${de} ? 'Kurse' : 'Courses'" class="nav-link active"></span>
            </li>
            <li class="nav-item"><a class="nav-link" th:href="@{/course/add}">
                    <i class="oi oi-plus"></i>
                    <span th:text="${de} ? 'Hinzufügen' : 'Add'"></span>
                </a>
            </li>
            <li class="nav-item"><a class="nav-link" th:href="@{/course/all}">
                <i class="oi oi-spreadsheet"></i>
                <span th:text="${de} ? 'Liste' : 'List'">List</span>
            </a>
            </li>
        </ul>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <span th:text="${de} ? 'Trainingseinheiten' : 'Workouts'" class="nav-link active"></span>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/workout/add}">
                    <i class="oi oi-plus"></i>
                    <span th:text="${de} ? 'Hinzufügen' : 'Add'"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/workout/all}">
                    <i class="oi oi-spreadsheet"></i>
                    <span th:text="${de} ? 'Liste' : 'List'">List</span>
                </a>
            </li>
        </ul>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <span th:text="${de} ? 'Historie' : 'History'" class="nav-link active"></span>
            </li>
            <li class="nav-item"><a class="nav-link" th:href="@{/course/history}">
                    <i class="oi oi-spreadsheet"></i>
                    <span th:text="${de} ? 'Kurse' : 'Courses'"></span>
                </a>
            </li>
            <li class="nav-item"><a class="nav-link" th:href="@{/home}">
                    <i class="oi oi-spreadsheet"></i>
                    <span th:text="${de} ? 'Trainingseinheiten' : 'Workouts'"></span>
                </a>
            </li>
        </ul>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <span th:text="${de} ? 'Empfehlungen' : 'Recommendtions'" class="nav-link active"></span>
            </li>
            <li class="nav-item"><a class="nav-link" th:href="@{/home}">
                <i class="oi oi-spreadsheet"></i>
                <span th:text="${de} ? 'Übungen' : 'Exercises'"></span>
                </a>
            </li>
            <li class="nav-item"><a class="nav-link" th:href="@{/home}">
                    <i class="oi oi-spreadsheet"></i>
                    <span th:text="${de} ? 'Trainingseinheiten' : 'Workouts'"></span>
                </a>
            </li>
        </ul>

    </nav>
</aside>