<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>

<body>
	<section class="layout-content" layout:fragment="mybody">

		<div class="page-header">
			<div class="d-flex justify-content-between align-items-center">
				<h1>Add Trainer</h1>
				<a sec:authorize="hasAnyAuthority('ADMIN','TRAINER')" class="btn btn-primary btn-md" th:href="@{/trainer/all}" role="button">
					<span class="oi oi-spreadsheet" title="Trainer Registration" aria-hidden="true"></span>
					<span>List Trainers</span>
				</a>
			</div>
		</div>


		<div class="container" id="registration">

	                                       
	        	        
	            <form th:action="@{/trainer/add}" 
	                  th:object="${trainer}" method="POST">
	                    
	                <div class="form-row">
		                <div class="form-group col-md-6">
		                        <label for="login">Login</label>
		                        <input type="text" class="form-control" id="login" placeholder="Login"
		                               th:field="*{login}" 
		                               th:classappend="${#fields.hasErrors('login')} ? 'is-invalid'" />
		                        <div class="invalid-feedback">
									<span th:errors="*{login}"></span>
		                        </div>
		                 </div>
	                    
	                </div>
	                
	                <div class="form-row">
		                <div class="form-group col-md-6">
		                        <label for="email">Email</label>
		                        <input type="text" class="form-control" id="email" placeholder="Email"
		                               th:field="*{email}" 
		                               th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" />
		                        <div class="invalid-feedback">
									<span th:errors="*{email}"></span>
		                        </div>
		                 </div>
	                    
	                </div>
	                
	                <div class="form-row">
		                <div class="form-group col-md-6">
		                        <label for="password">Password</label>
		                        <input type="password" class="form-control" id="password" placeholder="Password"
		                               th:field="*{password}" 
		                               th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'" />
		                        <div class="invalid-feedback">
									<span th:errors="*{password}"></span>
		                        </div>
		                 </div>
	                    
	                </div>
	                
	                <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="lastName">Last Name </label>
	                        <input type="text" class="form-control" id="lastName" placeholder="Last Name"
	                               autofocus="autofocus" th:field="*{lastName}" 
	                               th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'" />
	                        <div class="invalid-feedback">
								<span th:errors="*{lastName}"></span>
	                        </div>
	                    </div>               
	                    
	            	</div>
	            	
	            	
	            	<div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="firstName">First Name </label>
	                        <input type="text" class="form-control" id="firstName" placeholder="First Name"
	                               autofocus="autofocus" th:field="*{firstName}" 
	                               th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'" />
	                        <div class="invalid-feedback">
								<span th:errors="*{firstName}"></span>
	                        </div>
	                    </div>               
	                    
	            	</div>         
	                    
	                  
	                <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="phone">Phone Number </label>
	                        <input type="text" class="form-control" id="phone" placeholder="Phone Number"
	                               autofocus="autofocus" th:field="*{phone}" 
	                               th:classappend="${#fields.hasErrors('phone')} ? 'is-invalid'" />
	                        <div class="invalid-feedback">
								<span th:errors="*{phone}"></span>
	                        </div>
	                    </div>               
	                    
	            	</div> 
	                
						
                	<div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="birthDate">Date of Birth </label>
	                        <input type="date" class="form-control" id="birthDate" 
	                               autofocus="autofocus" th:field="*{birthDate}" 
	                               th:classappend="${#fields.hasErrors('birthDate')} ? 'is-invalid'" />
	                        <div class="invalid-feedback">
								<span th:errors="*{birthDate}"></span>
	                        </div>
	                    </div>               
	                    
	            	</div> 
	            	
	            <div class="form-row">
		                <div class="form-group col-md-6">
		                        <label for="street">Street</label>
		                        <input type="text" class="form-control" id="street" placeholder="Musterstraße"
		                               th:field="*{address.street}" 
		                               th:classappend="${#fields.hasErrors('address.street')} ? 'is-invalid'" />
		                        <div class="invalid-feedback">
									<span th:errors="*{address.street}"></span>
		                        </div>
		                 </div>
	                    
	                </div>
	            
	            <div class="form-row">
		                <div class="form-group col-md-6">
		                        <label for="housenumber">Housenumber</label>
		                        <input type="text" class="form-control" id="housenumber" placeholder="11"
		                               th:field="*{address.houseNumber}" 
		                               th:classappend="${#fields.hasErrors('address.houseNumber')} ? 'is-invalid'" />
		                        <div class="invalid-feedback">
									<span th:errors="*{address.houseNumber}"></span>
		                        </div>
		                 </div>
	                    
	                </div>
                
                <div class="form-row">
		                <div class="form-group col-md-6">
		                        <label for="city">City</label>
		                        <input type="text" class="form-control" id="city" placeholder="city"
		                               th:field="*{address.city}" 
		                               th:classappend="${#fields.hasErrors('address.city')} ? 'is-invalid'" />
		                        <div class="invalid-feedback">
									<span th:errors="*{address.city}"></span>
		                        </div>
		                 </div>
	                    
	                </div>
                
                
                <div class="form-row">
		                <div class="form-group col-md-6">
		                        <label for="ZIP">ZIP</label>
		                        <input type="text" class="form-control" id="ZIP" placeholder="ZIP"
		                               th:field="*{address.ZIP}" 
		                               th:classappend="${#fields.hasErrors('address.ZIP')} ? 'is-invalid'" />
		                        <div class="invalid-feedback">
									<span th:errors="*{address.ZIP}"></span>
		                        </div>
		                 </div>
	                    
	                </div>
                

                
	                <input type="hidden" id="id" th:field="*{id}"/>
	                
					<button type="submit" class="btn btn-primary btn-sm">Save</button>
	            </form>
	            <br><br>
	        </div>

		
	</section>		
</body>
</html>