<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head><meta charset="UTF-8" /></head>

<body>
    <section class="layout-content" layout:fragment="mybody">

        
            <div class="container mt-4">
                <h2>Customer Details</h2>
                <div>
                    <strong>Name:</strong> <span th:text="${customer.first_name} + ' ' + ${customer.last_name}"></span><br>
                    <strong>Email:</strong> <span th:text="${customer.email}"></span><br>
                    <!-- More customer details here -->
                </div>

                <h3>Workouts</h3>
                <ul>
                    <li th:each="workout : ${workouts}">
                        <span th:text="${workout.name}"></span>
                        <!-- Display other workout details -->
                    </li>
                </ul>

                <h3>Courses Enrolled</h3>
                <ul>
                    <li th:each="course : ${courses}">
                        <span th:text="${course.name}"></span>
                        <!-- Display other course details -->
                    </li>
                </ul>
            </div>
</body>
</html>