<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
</head>

<body>
    <section class="layout-content" layout:fragment="mybody">


        <div class="container mt-4">
            <h2>Edit Profile</h2>
            <form th:action="@{/customer/edit}" th:object="${customer}" method="post">

                <!-- Non-Editable Login Field -->
                <div>
                    <label for="login">Login:</label>
                    <input type="text" th:field="*{login}" id="login" disabled>
                    <input type="hidden" th:field="*{login}">
                </div>
            
                <!-- Password Field -->
                <div>
                    <label for="password">Password:</label>
                    <input type="password" th:field="*{password}" required>
                    <div th:errors="*{password}"></div>
                </div>
            
                <!-- Email Field -->
                <div>
                    <label for="email">Email:</label>
                    <input type="email" th:field="*{email}" required>
                    <div th:errors="*{email}"></div>
                </div>
            
                <!-- First Name Field -->
                <div>
                    <label for="first_name">First Name:</label>
                    <input type="text" th:field="*{first_name}" required>
                    <div th:errors="*{first_name}"></div>
                </div>
            
                <!-- Last Name Field -->
                <div>
                    <label for="last_name">Last Name:</label>
                    <input type="text" th:field="*{last_name}" required>
                    <div th:errors="*{last_name}"></div>
                </div>
            
                <!-- Additional fields as needed -->
                
                <!-- Submit Button -->
                <div>
                    <button type="submit">Update</button>
                </div>
            
            </form>
            <h2>Delete Profile</h2>
            <form th:action="@{/customer/delete}" th:object="${customer}" method="post">
                <div>
                    <button type="submit">Delete</button>
                </div>
            </form>
            
        </div>
</body>

</html>